dataset 
*.pyc
results
*.ckpt
*.csv
src/logs/apt_mark_logs/
src/logs/pip_freeze_logs/
src/models/hifi_gan/checkpoints_phase1/
src/models/hifi_gan/checkpoints_phase2/
src/models/hifi_gan/phase2_mels/
src/models/hifi_gan/mels_lowharm_wiener
src/models/hifi_gan/checkpoints_phase2_mod/
src/models/hifi_gan/checkpoints_phase2_phase/
src/models/hifi_gan/checkpoints_phase2_phase_mod/
src/models/hifi_gan/checkpoints_phase2_phase_mfcc
src/models/hifi_gan/checkpoints_pretrain
src/models/hifi_gan/checkpoints_pretrain_no_clip